<section class="advantage">
    <div class="wrapper">
        <h2 class="advantage__title">Преимущества сервиса Join 24</h2>
            <div class="advantage__content">
                <div class="advantage__wrap-img">
                    <img src="./img/online-shop.png" alt="computer" class="advantage__img">
                    <span class="advantage__number">01</span>
                </div>
                <div class="advantage__content-item">
                    <h3 class="advantage__subtitle">Управляйте через интернет</h3>
                    <ul class="advantage__lists">
                        <li class="advantage__list">
                            <p class="advantage__list-text"> Каждый день в приложении регистрируются множество физических лиц, представителей компаний и перевозчиков, готовых предложить свои услуги. Свободные автобусы в аренду всегда есть в наличии.</p>
                        </li>
                        <li class="advantage__list">
                            <p class="advantage__list-text">Все действия можно совершить из любой точки мира – нужен только доступ к сети в интернет. Зарегистрироваться и получить доступ в административную панель, пополнять и контролировать баланс, проверять фактический маршрут, контролировать водителей.</p>
                        </li>
                        <li class="advantage__list">
                            <p class="advantage__list-text">Все выгодные предложения теперь в одном месте. Все, что теперь нужно – это выбрать модель микроавтобуса, автобуса или минивэна по количеству пассажиров и вместимости багажа.</p>
                        </li>
                        <li class="advantage__list">
                            <p class="advantage__list-text">Известно, что бухгалтерия учитывает расход ГСМ, который зависит от протяженности маршрута. Теперь руководитель предприятия сможет проверить все представленные водителями чеки.
                            </p>
                        </li>
                    </ul>
                    <p class="advantage__text">
                        Управляйте автобусными перевозками через интернет, делегируя Join 24 всю рутинную работу. Бронируйте онлайн, оставляя время на иные задачи.
                    </p>
                </div>
            </div>
            <div class="advantage__content">
                <div class="advantage__wrap-img">
                    <img src="./img/shield.png" alt="" class="advantage__img">
                    <span class="advantage__number">02</span>
                </div>
                <div class="advantage__content-item">
             
                    <h3 class="advantage__subtitle">Надежность и безопасность</h3>
                    <ul class="advantage__lists">
                        <li class="advantage__list">
                            <p class="advantage__list-text"> Каждый автобус, микроавтобус и минивэн имеют все необходимые документы, своевременно проходят технический осмотр.</p>
                        </li>
                        <li class="advantage__list">
                            <p class="advantage__list-text">Каждое транспортное средство (ТС) оборудовано тахографами и другим навигационным оборудованием.</p>
                        </li>
                        <li class="advantage__list">
                            <p class="advantage__list-text">Разработка маршрута  и услуги водителя входит в стоимость.</p>
                        </li>
                        <li class="advantage__list">
                            <p class="advantage__list-text">Тщательная уборка салона и внешнего кузова до и после поездки.
                            </p>
                        </li>
                    </ul>
                    <p class="advantage__text">
                        С помощью агрегатора Join 24 даже самый взыскательный клиент сможет удовлетворить свои пожелания. Вы можете быть абсолютно уверены, что взяли в аренду надежное и безопасное транспортное средство.
                    </p>
                </div>
            </div>
    </div>
</section>
