<section class="rent">
    <div class="wrapper">
        <div class="rent__content">
            <h2 class="rent__title">Если вы хотите сдать в аренду</h2>
            <p class="rent__text">Ваша компания занимается перевозкой пассажиров и сдает автобусы в аренду? Теперь не нужно тратиться на рекламу в интернете или совершать сотни звонков в день. Теперь потенциальные клиенты находятся в Join24, которые найдут ваш микроавтобус или минивэн по техническим характеристикам и местоположению и оставят заявки на бронирование.
            </p>
            <p class="rent__text">Чтобы начать работу, необходимо зарегистрироваться и получить доступ к административной панели. После руководитель транспортной компании может зарегистрировать водителей, автобусы и сотрудников, ответственных за их выход на линию.</p>
        </div>
    </div>
</section>   
