<section class="service">
    <div class="wrapper">
        <h2 class="service__title">Преимущества сервиса</h2>
        <div class="service__items">
            <span class="service__item"><span class="service__number">01</span>Большой охват целевой аудитории.</span>
           <span class="service__item"><span class="service__number">02</span>Вы не платите за рекламу.</span>
            <span class="service__item"><span class="service__number">03</span>Экономите на сотрудниках, которые занимаются поиском новых клиетов</span>
            <span class="service__item"><span class="service__number">04</span>Штрафные санкции для заказчика за необоснованны отказ от заказа.</span>
            <span class="service__item"><span class="service__number">05</span>Фиксированная сумма закза</span>
            <span class="service__item"><span class="service__number">06</span>Безналичная оплата, работа с НДС</span>
            <span class="service__item"><span class="service__number">07</span>Удобная фдминистративная панель дл контроля.</span>
        </div>
    </div>
</section>
